<section class="section__auth section__login">
    <div class="container">
        <div class="auth login">
            <div class="auth__title">
                <h1>Đổi Mật Khẩu</h1>
            </div>
            <div class="auth__form">
                <form>       
                    <div class="errHere"></div>             
                    <div>
                        <label for="passwordOld">Mật Khẩu Cũ*</label>
                        <input id="passwordOld" type="password" name="passwordOld" placeholder="Mật Khẩu Cũ" required />
                    </div>
                    <div>
                        <label for="passwordNew">Mật Khẩu Mới*</label>
                        <input id="passwordNew" type="password" name="passwordNew" placeholder="Mật Khẩu Mới" required />
                    </div>
                    <div>
                        <label for="confirmPass">Nhập Lại Mật Khẩu Mới*</label>
                        <input id="confirmPass" type="password" name="confirmPass" placeholder="Nhập Lại Mật Khẩu Mới" required />
                    </div>
                    <div>
                        <button class="confirmChangePass" type="button">Xác Nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script>
    var changePassword = document.querySelector('.confirmChangePass');
    var passOld = document.getElementById('passwordOld');
    var passNew = document.getElementById('passwordNew');
    var confirmPass = document.getElementById('confirmPass');
    var errHere = document.querySelector('.errHere');
    changePassword.addEventListener('click', ()=> {    
        let passOldVal = passOld.value;
        let passNewVal = passNew.value;
        let confirmPassVal = confirmPass.value;  
        if(passOldVal == "" || passNewVal == "" || confirmPassVal == "") {
            errHere.classList.add('error');
            errHere.innerHTML = "Không được để trống";
            return -1;
        }         
        if(passNewVal != confirmPassVal) {
            errHere.classList.add('error');
            errHere.innerHTML = "Mật khẩu mới với nhập lại mật khẩu không khớp";
            return -1;
        }
        if(passNewVal == passOldVal) {
            errHere.classList.add('error');
            errHere.innerHTML = "Mật khẩu mới không được trùng với mật khẩu cũ";
            return -1;
        }
        sendPasswordNewAjax();

        function sendPasswordNewAjax() {
            var xhttp = new XMLHttpRequest();
            xhttp.open('post', '/auth/changePassword', true);
            xhttp.onreadystatechange = function() {
                if(this.status == 200 && this.readyState == 4) {
                    const data = JSON.parse(this.responseText);
                    if(!data[0].isErr) {
                        // khong co loi                        
                        alert("Mật khẩu đã được thay đổi thành công");  
                        window.location.href = "/";                      
                    } else {
                        // co loi
                        errHere.classList.add('error');
                        errHere.innerHTML = data[0].msg;
                    }
                }
            }
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(`passOld=${passOldVal}&passNew=${passNewVal}&confirmPass=${confirmPassVal}`);
        }
    })
    
</script>