<div class="delete">
    <h2 class="delete__title">Delete</h2>
    <form class="form" method="POST" action="/dashboard/cate/delete/<%- docCate._id %>">
        <div class="form__group">
            <label for="cateProduct">Tên Loại Giày:</label>
            <input id="cateProduct" type="text" name="delCateName" value="<%- docCate.name %>" disabled />
        </div>
        <div class="form__group form__actions">
            <button class="btn__save" type="submit">Xóa</button>
            <button class="btn__cancel" type="button"><a href="/dashboard/cate">Hủy</a></button>
        </div>
    </form>
</div>