<!-- === footer === -->
<footer class="footer">
    <div class="container">
        <div class="footer__home">
            <div class="item footer__about">
                <h2>GrHKT</h2>
                <div>GrHKT Chuỗi cửa hàng bán lẻ thời trang nam với xu hướng thời trang hiện đại luôn luôn cập nhật nhanh nhất những trend thời trang mới trên thế giới.</div>                
            </div>
            <div class="item footer__cs">
                <h2>Chính Sách</h2>
                <ol>
                    <li>
                        <a href="#">Hướng dẫn đặt hàng</a>
                    </li>
                    <li>
                        <a href="#">Chính sách đổi trả</a>
                    </li>
                    <li>
                        <a href="#">Thông tin chuyển khoản</a>
                    </li>
                    <li>
                        <a href="#">Kiểm tra đơn hàng</a>
                    </li>
                </ol>
            </div>
            <div class="item footer__ch">
                <h2>Cửa Hàng</h2>
                <ol>
                    <li>
                        <a href="#">Chi nhánh Sài Gòn</a>
                    </li>
                    <li>
                        <a href="#">Chi nhánh Hà Nội</a>
                    </li>
                    <li>
                        <a href="#">Chi nhánh Đà Nẵng</a>
                    </li>
                    <li>
                        <a href="#">Chi nhánh Cần Thơ</a>
                    </li>
                    <li>
                        <a href="#">Chi nhánh Biên Hòa</a>
                    </li>
                </ol>
            </div>
            <div class="item footer__tv">
                <h2>Tư Vấn Bán Hàng</h2>     
                <ol>
                    <li>
                        <span><i class="fa fa-clock"></i></span>
                        <span>9:00 - 21h20</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone-square"></i></span>
                        <span>0933-752-00Có</span>
                    </li>
                </ol>               
            </div>
            <div class="item footer__cskh">
                <h2>Chăm Sóc Khách Hàng</h2>  
                <ol>
                    <li>
                        <span><i class="fa fa-clock"></i></span>
                        <span>9:00 - 21h00</span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone-square"></i></span>
                        <span>0916-104-500</span>
                    </li>
                </ol>                     
            </div>
        </div>
    </div>
</footer>