<div class="chat">
    <div class="chat__topbar">
        <button class="close">
            <i class="fa fa-times"></i>
        </button>
        <span style="color: #ffffff; font-weight: 600; font-size: 17px; margin-left: 10px;">Trò Chuyện Online</span>
    </div>
    <div class="chat__home">
        <div class="chat__home--container">
            <div class="content__message">
                <div class="content__message--details"></div>
            </div>
            <div class="input__message">
                <form class="formChat">
                    <input class="value__message" type="text" placeholder="Nhập tin nhắn..." />
                    <button class="send__message" type="button"><i class="fa fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
