header, 
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header {
    height: 60px;
    width: calc(100% - 300px);
    margin-left: 300px;
}
.sidebar {
    width: 300px;
}
.body__content {
    padding: 20px;
    margin: {
        top: 60px;
        left: 300px;
    }
}

